img.profile_pic {
    width: 89px;
    height: 50px;
}

.media.border.p-3 {
    border: none !important;
}

.background {
    background-image: url(whatsap.jpg);
    height: 100%;
    width: 100%;
    /* background-image: url(whatsap.jpg); */
}